*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    border-radius: 20px;
    max-width: 100%;
}





/* ==================================
COLORS
=================================== */

:root {
    /* -- Primary -- */
    --dark-orange: hsla(22, 88%, 52%, 1);
    --light-orange: hsla(22, 100%, 69%, 1);
    /* -- Neutral -- */
    --black: hsla(220, 50%, 17%, 1);
    --dark-gray: hsla(221, 23%, 58%, 1);
    --light-gray: hsla(198, 28%, 93%, 1);
}




/* ==================================
TYPOGRAPHY
=================================== */

body {
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: var(--dark-gray);
}

h1, h2, h3 {
    color: var(--black);
    font-weight: 900;
    text-transform: uppercase;
}

h1 {
    font-size: 48px;
    line-height: 48px;
}

h2 {
    font-size: 32px;
    line-height: 36px;
}

h3 {
    font-size: 24px;
    line-height: 28px;
}

button,
.hero__cta-text {
    font: inherit;
    font-weight: 700;
    text-transform: uppercase;
}



@media (min-width: 535px) {
    body {
        text-align: left;
    }
}


@media (min-width: 1200px) {

    h1 {
        font-size: 56px;
        line-height: 56px;
    }

    .hero__text {
        font-size: 18px;
    }
}




/* ==================================
BUTTONS
=================================== */

.btn {
    border-radius: 8px;
    padding: 11px 14px;
    max-width: 151px;
    background-color: var(--light-gray);
    color: var(--black);
    border: 0;
}

.btn:hover, .btn:focus {
    background-color: var(--black);
    color: #fff;
    cursor: pointer;
}

.btn--brand {
    background-color: var(--dark-orange);
    color: #fff;
    transition: background-color, color 250ms;
}

.btn--brand:hover, .btn:focus {
    background-color: var(--light-orange);
}

@media (min-width: 535px) {
    .btn {
        padding: 16px 26px;
        min-width: 175px;
    }
}




/* ==================================
SHAPES
=================================== */

.square {
    display: none;
}

@media (min-width: 1200px) {
    .square {
        display: block;
        background-image: url("../assets/shared/pattern-square.svg");
        background-repeat: no-repeat;
        border-radius: 20px;
    }

    .square--right,
    .square--left {
        min-width: 255px;
    }

    .square--right {
        min-height: 240px;
    }

    .square--left {
        min-height: 236px;
    }
}




/* ==================================
GENERAL LAYOUT
=================================== */


.row {
    padding: 0 24px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    max-width: 1110px;
    margin: 0 auto;
}

.row > * {
    flex: 0 0 100%;
}


@media (min-width: 535px) {
    .row {
        padding: 0 39px;
    }
}

@media (min-width: 1200px) {
    .row {
        padding: 0;
    }

    .grid {
        display: grid;
        overflow: hidden;
        column-gap: 30px;
    }
}


/*-- HEADER --*/

.header {
    margin: 24px 0 64px 0;
}
.header__logo {
    max-width: 40px;
    height: 40px;
    border-radius: 0;
}

@media (min-width: 535px) {
    .header {
        margin-top: 40px;
    }
}

@media (min-width: 1200px) {
    .header {
        margin: 55px 0 83px 0;
    }
}



/*-- HERO SECTION --*/

.hero__content {
    text-align: left;
    padding-right: 0;
    max-width: 339px;
}

.hero__title {
    margin-bottom: 32px;
}

.hero__text {
    margin-bottom: 32px;
}

.hero__cta {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;
    margin-bottom: 64px;
}

.hero__img-wrapper {
    margin-bottom: 15px;
    min-width: 372px;
    max-width: 478px;
}

@media (max-width: 534px) {

    .row--hero {
        padding: 0 24px;
    }

}

@media (min-width: 535px) {

    .row--hero {
        min-width: 886px;
        flex-wrap: nowrap;
        align-items: center;
    }

    .hero__content {
        max-width: 339px;
    }

    .hero__title {
        margin-bottom: 34px;
    }

    .hero__text {
        margin-bottom: 39px;
    }

    .hero__cta {
        padding-right: 0;
    }

    .hero__img-wrapper {
        margin: 0 0 20px 69px;
        max-width: 540px;

    }
}

@media (min-width: 1200px) {

    .grid--hero {
        grid-template-columns: 255px 1110px 255px;
        grid-template-areas: '... content shape';
        justify-content: center;
    }

    .row--hero {
        grid-area: content;
        min-width: 100%;
    }

    .square--right {
        grid-area: shape;
    }

    .hero__content {
        max-width: 445px;
    }

    .hero__cta {
        max-width: 342px;
    }
    .hero__img-wrapper {
        margin-left: 85px;
    }
}



/*-- INFO SECTION --*/

.row--info {
    margin: 0 auto 0 -45px;
}

.info__img-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    min-width: 373px;
    max-width: 730px;
}

.info__content {
    padding: 0 24px;
    margin: 0 auto 111px 21px;
}

.info__img-wrapper {
    margin-bottom: 80px;
}

.info__img-wrapper + .info__img-wrapper {
    margin-left: 24px;
}

.info__img-wrapper--brand {
    background-color: var(--dark-orange);
    border-radius: 20px;
}

.info__img {
    height: 100%;
    width: 100%;
}

.info__img--brand {
    mix-blend-mode: multiply;
    opacity: .75;
}

.info__title {
    max-width: 255px;
    margin: 0 auto 24px auto;
}

.info__text {
    /*margin-bottom: 111px;*/
}

@media (min-width: 535px) {
    .info__content {
        display: flex;
        flex-flow: row nowrap;
        align-items: baseline;
        margin-bottom: 120px;
    }

    .info__title {
        max-width: 38%;
    }

    .info__text {
        width: 75%;
        margin-left: 36px;
    }
}

@media (min-width: 768px) {
    .row--info,
    .info__img-container {
        margin: 0 auto;
    }

    .info__img-container {
        padding-right: 25px;
        column-gap: 13px;
    }

    .info__img-wrapper--brand {
        transform: translateY(13px);
    }

    .info__img-wrapper + .info__img-wrapper {
        margin-left: 0;
    }

    .info__content {
        margin-left: auto;
        padding: 0;
    }
}

@media (min-width: 1200px) {

    .grid--info {
        grid-template-columns: 255px 1110px 255px;
        grid-template-rows: repeat(2, 235px);
        grid-template-areas: '... content ...'
                             'shape content ...';
        justify-content: center;
        align-items: baseline;
        margin-bottom: 168px;
    }

    .row--info {
        grid-area: content;
        min-width: 100%;
        flex-wrap: nowrap;
        padding: 0;
        align-items: flex-end;
        margin-bottom: 168px;
    }

    .square--left {
        grid-area: shape;
    }

    .info__img-container {
        column-gap: 30px;
    }

    .info__img-wrapper {
        margin-bottom: 0;
    }

    .info__img-wrapper--brand {
        transform: initial;
    }

    .info__content {
        flex-direction: column;
        flex: 0 0 30%;
        margin-left: 125px;
    }

    .info__title,
    .info__text {
        margin: initial;
    }

    .info__title {
        margin-bottom: 27px;
    }

}


/*-- FEATURES SECTION --*/

.row--features {
    justify-content: center;
    margin: 0 auto 32px auto;
}

.features__content {
    max-width: 339px;
    text-align: center;
}

.features__icon {
    width: 65px;
    height: 65px;
    background-color: var(--dark-orange);
    border-radius: 16px;
    margin: 0 auto 48px auto;
    background-repeat: no-repeat;
    background-position: center;
}

.features__icon--computer {
    background-image: url("../assets/shared/icon-compatible.svg");
}

.features__icon--bluetooth {
    background-image: url("../assets/shared/icon-bluetooth.svg");
}

.features__icon--battery {
    background-image: url("../assets/shared/icon-battery.svg");
}

.features__icon--lightbulb {
    background-image: url("../assets/shared/icon-light.svg");
}

.features__title {
    max-width: 219px;
    margin: 0 auto 24px auto;
}

.features__text {
    margin-bottom: 64px;
}

@media (min-width: 750px) {

    .row--features {
        justify-content: flex-start;
        column-gap: 70px;
        margin-bottom: 78px;
    }

    .features__content {
        text-align: left;
        flex: 0 0 50%;
        max-width: 281px;
    }

    .features__icon,
    .features__title {
        margin-left: 0;
    }
}

@media (min-width: 1200px) {

    .row--features {
        column-gap: 30px;
    }

    .features__content {
        flex: 0 0 25%;
        max-width: 255px;
    }
}


/*-- FOOTER SECTION --*/

.footer {
    padding-bottom: 39px;
}

.footer__text {
    text-align: center;
}



