*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    border-radius: 20px;
    max-width: 100%;
}





/* ==================================
COLORS
=================================== */

:root {
    /* -- Primary -- */
    --dark-orange: hsla(22, 88%, 52%, 1);
    --light-orange: hsla(22, 100%, 69%, 1);
    /* -- Neutral -- */
    --black: hsla(220, 50%, 17%, 1);
    --dark-gray: hsla(221, 23%, 58%, 1);
    --light-gray: hsla(198, 28%, 93%, 1);
}




/* ==================================
TYPOGRAPHY
=================================== */

body {
    font-family: 'Barlow', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: var(--dark-gray);
}

h1, h2, h3 {
    color: var(--black);
    font-weight: 900;
    text-transform: uppercase;
}

h1 {
    font-size: 48px;
    line-height: 48px;
}

h2 {
    font-size: 32px;
    line-height: 36px;
}

h3 {
    font-size: 24px;
    line-height: 28px;
}

button,
.hero__text--date {
    font-weight: 700;
}

button {
    font: inherit;
    text-transform: uppercase;
}


@media (min-width: 768px) {
    body {
        text-align: left;
    }
}


@media (min-width: 1200px) {
    h1 {
        font-size: 56px;
        line-height: 56px;
    }
}




/* ==================================
BUTTONS
=================================== */

.btn {
    border-radius: 8px;
    padding: 11px 14px;
    background-color: var(--light-gray);
    color: var(--black);
    border: 0;
    transition: background-color, color 250ms;
}

.btn:hover, .btn:focus {
    background-color: var(--black);
    color: #fff;
    cursor: pointer;
}

.btn--brand {
    background-color: var(--dark-orange);
    color: #fff;
}

.btn--brand:hover, .btn:focus {
    background-color: var(--light-orange);
}





/* ==================================
GENERAL LAYOUT
=================================== */
.row {
    padding: 0 24px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.row > * {
    flex: 0 0 100%;
}

.row--overflow {
    overflow: hidden;
    padding: 0;
}


/*-- HEADER --*/

.header {
    margin: 24px 0 64px 0;
}
.header__logo {
    max-width: 40px;
    height: 40px;
    border-radius: 0;
}

.header__btn {
    max-width: 151px;
}

/*-- HERO SECTION --*/

.hero__img {
    flex-basis: 372px;
    max-width: 540px;
    transform: translateX(24px);
}
